<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add New Subject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <h2>Add New Subject</h2>
            <form th:object="${subject}" th:action="@{/subject/save}" method="post">
                <div class="form-group">
                    <label for="name">Subject Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/subjects" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>