<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Grade</title>
</head>
<body>
<h1>Edit Grade</h1>

<form th:action="@{/grade/edit/{id}(id=${grade.gradeId})}" th:object="${grade}" method="post">
    <input type="text" th:field="*{gradeValue}" placeholder="Grade Value" required/>
    <input type="text" th:field="*{studentId}" placeholder="Student ID" required/>
    <input type="text" th:field="*{subjectId}" placeholder="Subject ID" required/>
    <button type="submit">Update Grade</button>
</form>
</body>
</html>
