<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h2>Grades</h2>

    <div class="card">
        <div class="card-body">
            <h3>Add New Grade</h3>
            <form th:action="@{/grade}" th:object="${newGrade}" method="post" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="gradeValue">Grade Value</label>
                    <input type="text" class="form-control" id="gradeValue" th:field="*{gradeValue}" placeholder="Grade Value" required>
                </div>
                <div class="form-group">
                    <label for="studentId">Student ID</label>
                    <select class="form-control" id="studentId" th:field="*{studentId}" required>
                        <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.firstName} + ' ' + ${student.lastName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="subjectId">Subject ID</label>
                    <select class="form-control" id="subjectId" th:field="*{subjectId}" required>
                        <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.name}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Add Grade</button>
                <button type="button" class="btn btn-secondary">Cancel</button>
            </form>
        </div>
    </div>

    <!--  saved grades -->
    <div class="card mt-4">
        <div class="card-body">
            <h3>Saved Grades</h3>
            <table class="table table-striped mt-3">
                <thead>
                <tr>
                    <th>Grade ID</th>
                    <th>Grade Value</th>
                    <th>Student</th>
                    <th>Subject</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="grade : ${grades}">
                    <td th:text="${grade.id}">1</td>
                    <td th:text="${grade.gradeValue}"></td>
<!--                    <td th:text="${grade.studentId}"></td>-->
<!--                    <td th:text="${grade.subjectId}"></td>-->

                    <td>
                        <a th:href="@{'/grade/edit/' + ${grade.id}}" class="btn btn-primary btn-sm">Edit</a>
                        <a th:href="@{'/grade/delete/' + ${grade.id}}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
</body>
</html>
