<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
</head>
<body>
<h1>Students</h1>

<form th:action="@{/student}" th:object="${newStudent}" method="post">
    <input type="text" th:field="*{firstName}" placeholder="First Name" required/>
    <input type="text" th:field="*{lastName}" placeholder="Last Name" required/>
    <input type="email" th:field="*{email}" placeholder="Email" required/>
    <input type="date" th:field="*{birthDate}" placeholder="Birthdate" required/>


    <label for="studentGroup">Student group:</label>
    <select id="studentGroup" name="studentGroupId" th:field="*{studentGroupId}" required>
        <option value="" disabled selected>Select a student group</option>
        <option th:each="studentGroup : ${studentGroups}"
                th:value="${studentGroup.id}"
                th:text="${studentGroup.name}">
        </option>
    </select>
    <label for="subjects">Subjects:</label>
    <select id="subjects" name="subjectIds" th:field="*{subjectIds}" required multiple>
        <option value="" disabled selected>Select a student group</option>
        <option th:each="subject : ${subjects}"
                th:value="${subject.id}"
                th:text="${subject.name}">
        </option>
    </select>
    <button type="submit">Add Student</button>
</form>

<table>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Birthdate</th>
        <th>Student Group ID</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.birthDate}"></td>
        <td th:text="${student.studentGroup.name}"></td>
        <td>
            <a th:href="@{/student/edit/{id}(id=${student.id})}">Edit</a>
            <a th:href="@{/student/delete/{id}(id=${student.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
